<div class="page-header">
  <ol class="breadcrumb">
    <li><%= link_to "Admin", admin_index_path %></li>
    <li><%= link_to "Requests", admin_requests_path %></li>
    <li><%= link_to "#" + @request.id.to_s, admin_request_path( @request ) %></li>
    <li class="active">Edit</li>
  </ol>

  <h2>Request #<%= @request.id %> <small>Edit</small></h2>
</div>

<%= form_for :request do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :charity_number, "Charity Number" %>
        <%= f.text_field :charity_number, class: "form-control inline exclude-validation", placeholder: "Enter the charity number here." %>
      </div>
    </div>
    <div class="col-md-6">
      <%= f.label :charity_number_verified, "Charity Number Verified ( 't' or 'f' )" %>
      <%= f.text_field :charity_number_verified, class: "form-control" %>
    </div>
  </div>

	<div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :org_name, "Organisation" %>
        <%= f.text_field :org_name, required: true, minlength: 2, maxlength: 240, title: "The charity name must be between 2 and 240 characters", class: "form-control", placeholder: "Name of organisation" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :org_address, "Organisation address" %>
        <%= f.text_field :org_address, minlength: 3, maxlength: 320, title: "The charity's address name must be between 3 and 320 characters", class: "form-control", placeholder: "Address of organisation" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :email, "Organisation email address" %>
        <%= f.text_field :email, type: "email", required: true, minlength: 6, maxlength: 254, title: "Email must be between 6 and 254 characters long.", class: "form-control", placeholder: "Email of organisation" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :org_tel, "Telephone number" %>
        <%= f.text_field :org_tel, class: "form-control", placeholder: "Telephone of organisation" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :domain, "Domain" %>
        <%= f.text_field :domain, class: "form-control", placeholder: "Enter your custom domain" %>
      </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  
  <%= f.submit class: "btn btn-primary btn-wide", value: "Edit" %>
<% end %>