<div class="page-header">
  <h1><%= @animal.name %> </h1>
  <p class="text-primary">
    <%= @animal.species %>

    <% if @animal.breed.present? %>
      &bull; <%= @animal.breed %>
    <% end %>
  </p>

  <!-- back navigation -->
  <%= link_to "Return to gallery", charity_animals_path, class: "btn btn-info" %>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag @animal.avatar.url( :large ), width: 450, height: 400, class: "img-thumbnail" %>
  </div>
  <div class="col-md-6">
    <div class="table-responsive">
      <!-- animal info table -->
      <table class="table table-striped">
        <tbody>
          <tr><th>Name</th><td><%= @animal.name %></td></tr>
          <tr><th>Species</th><td><%= @animal.species %></td></tr>
          <% if @animal.breed.present? %>
            <tr><th>Breed</th><td><%= @animal.breed %></td></tr>
          <% end %>
        </tbody>
      </table><!-- / animal info table -->
    </div>

    <p id="animal-desc"><%= @animal.description %></p>

    <% email = ( @animal.owner_email.present? ) ? @animal.owner_email : @charity.user.email %>
    <p>Contact: <strong><%= email %></strong></p>

    <!-- animal options -->
    <% if @animal.can_sponsor? %>
      <%= link_to "Sponsor", donate_charity_path( @charity ), class: "btn btn-embossed btn-wide btn-info" %>
    <% end %>

    <% if @animal.can_adopt? %>
      <%= link_to "Adopt", adopt_charity_animal_path( @charity, @animal ), class: "btn btn-embossed btn-wide btn-success" %>
    <% end %>
  </div>
</div>
