<nav id="admin-panel" class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#control-panel">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <span class="navbar-brand">CP</span>
  </div>
  <div class="collapse navbar-collapse" id="control-panel">
    <ul class="nav navbar-nav">

      <li><a href="#">Account</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="<%= new_charity_page_path %>">Add Page</a></li>

          <% if @page.present? and params[ :action ] != "new" %>

          <li><%= link_to "Edit Page", edit_charity_page_path( @charity, @page ) %></li>
            <% if @page.editable? %>
            <li class="divider"></li>
            <li><%= link_to "Remove Page", charity_page_path( @charity, @page ), method: :delete, data: { confirm: "*** Removing page: " + @page.title + " ***\n\nAre you sure? All data for this page will be deleted permanently." } %></li>
            <% end %>
          <% end %>
        </ul>
      </li>

      <% case params[ :controller ] %>
      <% when "animals" %> 

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Animals <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Animals", charity_animals_path( @charity ) %></li>
          <li><%= link_to "Add animal", new_charity_animal_path( @charity ) %></li>
          <% if @animal.present? and params[ :action ] != "new" %>

            <li><%= link_to "Edit animal", edit_charity_animal_path( @charity, @animal ) %></li>
            <li class="divider"></li>
            <li><%= link_to "Remove animal", charity_animal_path( @charity, @animal ), method: :delete, data: { confirm: "*** Removing animal: " + @animal.name + " ***\n\nAre you sure? All data for this animal will be deleted permanently." } %></li>
            
          <% end %>
        </ul>
      </li>

      <% when "posts" %>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Add Post", new_charity_post_path %></li>
          <% if @post.present? and params[ :action ] != "new" %>

            <li><%= link_to "Edit Post", edit_charity_post_path( @charity, @post ) %></li>
            <li class="divider"></li>
            <li><%= link_to "Remove Post", charity_post_path( @charity, @post ), method: :delete, data: { confirm: "*** Removing page: " + @post.title + " ***\n\nAre you sure? All data for this post will be deleted permanently." } %></li>
         
          <% end %>
        </ul>
      </li>

      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->