<% content_for :app_content do %>
  <% if flash[ :overhead ].present? %>
    <!-- notice box with information on the previous request's results -->
    <div class="alert alert-info alert-dismissable alert-overhead">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= flash[ :overhead ] %>
    </div>
  <% end %>

  <!-- header -->
  <header>
    <nav class="navbar navbar-inverse navbar-embossed" id="site-panel" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <!-- button with text for screen readers -->
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">CSM</a>
      </div>
      <!-- all links collapse into dropdown for mobile screens -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">           
          <li class="active"><%= link_to "Charities", charities_path %></li>
          <li><a href="#fakelink">About</a></li>
          <li><%= link_to "Help", "#" %></li>
        </ul>
        <!-- search bar form -->
        <form class="navbar-form navbar-left" action="/charities/search" method="GET" role="search">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" name="charity[org_name]" id="search-inp" type="search" placeholder="Search">
              <span class="input-group-btn">
                <button type="submit" class="btn"><span class="fui-search"></span></button>
              </span>            
            </div>
          </div>               
        </form><!-- /seach bar form -->
        
        <% if session[ :auth ]
        @user = User.find( session[ :user_id ] ) %>
  
        <!-- User options -->
        <ul class="nav navbar-nav navbar-right">           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= ( @user.is_admin ) ? "(Admin) " : "" %><%= @user.f_name + " " + @user.l_name %> <b class="caret"></b></a>
            <span class="dropdown-arrow"></span>
            <!-- option list -->
            <ul class="dropdown-menu">
              <% if @user.id == User.get_admin.id %>
              <li><%= link_to "Admin", admin_index_path %></li>
              <% end %>
              <li><%= link_to "Account", "#" %></li>
              <li><%= link_to "Your charities", "#" %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", logout_path %></li>
            </ul><!-- /option list -->
          </li>
        </ul><!-- /user options -->

        <% else %>
        
        <!-- Login/register options -->
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Login", login_path( :return => request.url ) %></li>
          <li><%= link_to "Register", register_path %></li>
        </ul><!-- /login/register options -->
        <% end %> 
      </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
  </header><!-- /header -->

  <!-- site content -->
  <div id="inner-wrap">
     <%= content_for?( :site_content ) ? yield( :site_content ) : yield %>
  </div><!-- /site content -->

  
  <footer>
    <div class="row">
      <div class="col-md-2">
        <h6 class="footer-header">SITEMAP</h6>
        <ul>
          <li><a href="#">Welcome</a></li>
          <li><a href="#">Charities</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="footer-header">SITEMAP</h6>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Disclaimer</a></li>
        </ul>
      </div>
    </div>
  </footer>
<% end %>
<%= render template: "layouts/application" %>